---
import "@fontsource-variable/dm-sans";
import Nav from "../components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
import PostHog from "../components/PostHog.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden overflow-y-scroll scrollbar scrollbar-track-viola-200 scrollbar-thumb-viola-400 scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-w-2">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta name="theme-color" content="#e2bfcd" />
		<meta property="og:url" content="https://astro.dsns.dev" />
		<meta property="og:image" content="https://astro.dsns.dev/kirby.png" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />
		<PostHog />
	</head>
	<body class="container mx-auto my-10 bg-viola-50">
		<Nav />
		<slot />
	</body>
</html>
